.header {
  display: flex;
  background-color: var(--background-color);
  color: var(--text-color);
  align-items: center;
  padding: 12px;
}

.logo {
  color: var(--text-color) !important;
  width: 48px;
  height: 48px;
  margin-right: 12px;
  user-select: none;
  pointer-events: none;
}

.text {
  font-family: var(--font-bold), serif;
  font-size: var(--font-size-large);
}