@import url('_variables.css');
@import url('_fonts.css');

:root {
    * {
        font-family: var(--font-regular), serif;
    }
}

::selection {
    background: var(--color-select);
    text-shadow: none;
}